table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  /* border: 1px solid; */
  padding: 1px;
  height: 40px;
}

table tr:hover {
  background-color: white;
}

table tbody {
  text-align: left;
  color: rgb(116, 113, 113);

}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: medium;
  color: rgb(94, 91, 124);
}
